:root {
  --primary-color01: #4F46E5;
  --primary-color02: #818CF8;
  --primary-color03: #C7D2FE;
  --primary-color04: #EEF2FF;
  --gray01: #1F2937;
  --gray02: #4B5563;
  --gray03: #9CA3AF;
  --gray04: #E5E7EB;
}